[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]


[packages]
numpy = "==1.14.0"
pandas = "*"
scikit-learn = "==0.19.1"
scipy = "*"
pyyaml = "*"
luigi = "*"
tensorflow = "*"
keras = "*"
bokeh = "*"
matplotlib = "*"
google_images_download = "*"

[requires]
python_version = "2.7"
