[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]


[packages]
numpy = ""
pandas = "*"
scikit-learn = ""
scipy = "*"
pyyaml = "*"
luigi = "*"
tensorflow = "*"
keras = "*"
bokeh = "*"
matplotlib = "*"
pil = "*"

[requires]
python_version = "2.7"
